body {
  font-family: sans-serif;
}

h1 {
  color: blue;
}

 .entry {
   font-family:'Times New Roman', Times, serif;
   color: rosybrown;
 }

h3 {
  color: dodgerblue;
}

.dark {
  background-color: black;
  color: lightgray;
}

#dark {
  background-color: black;
  color: white;
}